body {
  
    font-size: 1.20em;
   
}

.site-header .site-title {
 
    font-size: 1.35em;
   
}

/* ---- particles.js container ---- */
    
#particles-js {
    width: 100%;
    height: 30%;
    /* background-image: linear-gradient(120deg, #155799, #159957); */
    background-image: linear-gradient(140deg, #0a1656, #14032f);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

@media screen and (min-width: 64em) {
    #particles-js {
        height: 30%;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    #particles-js {
        height: 40%;
    }
}

@media screen and (max-width: 42em) {
    #particles-js {
        height: 70%;
    }
}

.absoluteholder {
    position: absolute;
    left: 50%;
   
}

@media screen and (min-width: 64em) {
    .absoluteholder {
        top: 12%;
    }
}

@media screen and (max-width: 42em) {
    .absoluteholder {
        top: 32%;
    }
}

.child-element {
    position: relative;
    left: 50%;
    top: 50%;

    background: orange;
  }

  .site-header .avatar {
   
    border-radius: 0.938em;
    
}

code, kbd, pre, samp {
    
    font-size: 0.85em;
}

.portfolio * {

    margin: 8% 0%;
  
}
.project_title{
    font-size: 1em;
}
@media screen and (min-width: 64em) {
    .project_title {
        font-size: 1em;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project_title {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 42em) {
    .project_title {
        font-size: 0.8em;
    }
}
.image_feature_project{
    width: 60%;
    height: 80%;
}

@media screen and (min-width: 64em) {
    .image_feature_project{
        width: 60%;
        height: 80%;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .image_feature_project {
        width: 70%;
        height: 90%;
    }
}

@media screen and (max-width: 42em) {
    .image_feature_project {
        width: 100%;
        height: 100%;
    }
}

.portfolio * .portfolio-item .portfolio-link .caption{
    width: 60%;

}

img[alt=image_blog] { 
    width: 400px;
    height: 400px;

}
img[alt=image_blog2] { 
    width: 1000px;
    height: 400px;

}
/* Hmmm */
img[alt=project_ss] { 
    width: 200px;
    height: 250px;

}
.callback{
    font-size: 0.8em;
    font-style: italic;
}

iframe, img, embed, object, video {
    max-width: 100%;
    padding: 0 2%;
}
